body { margin:0; padding:0; }

.map {
  position:absolute;
  width:100%;
  min-height:100%;
  top: 0px;
  left:0px;
  z-index:-1;


  .marker-bike-santiago {
    color: #95a5a6;

    &.status-unavailable  {
      color: #e74c3c;
    }

    &.status-full, &.status-empty {
      color: #f1c40f;
    }

    &.status-active {
      color: #2ecc71;
    }
  }
}
