.map {
  position:absolute;
  width:100%;
  min-height:100%;
  top:0px;
  left:0px;
  z-index:-1;

  .marker-bike-santiago {
    color: #ff9a19;

    &.status-unavailable, &.status-unknown  {
      color: gray;
    }

    &.status-full, &.status-empty {
      color: red;
    }
  }
}
