[data-ember-action] {
  cursor: pointer;
}

.side-nav.active {
  left: 0 !important;
}


.features {
  position:absolute;
  width:100%;
  min-height:100%;
  top: 0px;
  left:0px;
  z-index:0;
  padding: 8% 0;

  .features-backdrop {
    position:absolute;
    width:100%;
    min-height:100%;
    top: 0px;
    left:0px;
    opacity: 0.3;
    background-color: black;
  }

  .card {
    position: absolute;
    z-index:20;
    height: 420px;
    width: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

    &:after {
      content: "";
      background: linear-gradient(black, white);
      height: 20px;
    }

    .back {
      color: white;
      position: absolute;
      top: 5px;
      left: 0;
    }

    .card-header {
      @extend .card-image;
      height: 100px;
      background-color: $primary-color;

      .card-title {
        font-size: 20px;
      }
    }

    .features-bike-santiago {
      .card-header {
        background-color: #ff9a19;
      }

      .status {
        background-color: #95a5a6;
        width: 100%;
        padding: 5px 0;
        text-align: center;
        color: white;

        &.Active {
          background-color: #2ecc71;
        }
        &.Empty, &.Full {
          background-color: #f1c40f;
        }
        &.Unavailable {
          background-color: #e74c3c;
        }
      }
    }

    .card-content {
      overflow-y: auto;
      height: 100%;
    }
  }
}

.navbar .brand {
  position: absolute;
  color: #fff;
  display: inline-block;
  font-size: 2.1rem;
  padding: 0;

  img {
    height: $navbar-height-mobile;
  }
}


.cordova .navbar {
  padding-top: 10px;
  height: $navbar-height-mobile +10px;
  line-height: $navbar-height-mobile +10px;
}

@media #{$medium-and-up} {
  .navbar .brand img {
    height: $navbar-height;
  }

  .cordova .navbar {
    height: $navbar-height+10px;
    line-height: $navbar-height+10px;
  }
}
