<div class="github-fork-ribbon-wrapper right">
  <div class="github-fork-ribbon">
    <a href="https://github.com/acleta/acleta-web">Fork me on GitHub</a>
  </div>
</div>
<div class="card-content">
  <h1>Acerca de Acleta</h1>
  <p>Acleta es un proyecto colaborativo para visualizar la infraestructura infraestructura disponible para las bicicletas en Chile</p>
</div>
