<div class="github-fork-ribbon-wrapper right">
  <div class="github-fork-ribbon">
    <a href="https://github.com/acleta/acleta-web">Fork me on GitHub</a>
  </div>
</div>
<div class="card-header">
  <span class="card-title">{{t 'about_acleta'}}</span>
</div>
<div class="card-content">
  <p>Acleta es un proyecto colaborativo para visualizar la infraestructura infraestructura disponible para las bicicletas en Chile</p>
</div>
