{{features-backdrop action="hide"}}
<div class="card z-depth-5">
  {{#link-to 'map' classNames="back waves-effect waves-teal btn-flat left"}}
  <i class="mdi-navigation-chevron-left left"></i>{{t 'back'}}
  {{/link-to}}
  {{outlet}}
</div>
