<nav>
  <ul class="side-nav fixed active">
    <li><a href="#!">First Sidebar Link</a></li>
    <li><a href="#!">Second Sidebar Link</a></li>
  </ul>
  <a href="#" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
</nav>
