<!-- <nav> -->
<!--   <ul class="side&#45;nav"> -->
<!--     <li><a href="#!">First Sidebar Link</a></li> -->
<!--     <li><a href="#!">Second Sidebar Link</a></li> -->
<!--   </ul> -->
<!--   <div class="nav&#45;wrapper"> -->
<!--     <a href="#" class="button&#45;collapse"><i class="mdi&#45;navigation&#45;menu"></i></a> -->
<!--     <a href="#" class="brand&#45;logo">Acleta</a> -->
<!--   </div> -->
<!-- </nav> -->
